# Ignore node_modules folder
node_modules/

# Ignore Mac system files
.DS_Store

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore build output
dist/
build/

#Ignore the big. csv file
Europe_chain_data_modified.csv
