# Ignore node_modules folder
node_modules/

# Ignore Mac system files
.DS_Store

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore build output
dist/
build/

#Ignore __pycache__ folder
**/__pycache__/

#Ignore the big. csv file
Europe_chain_data_modified.csv

test_api.py
model_train.py
my_output.csv
data_clean.py

#abandoned files but still have workable code
final_predict.py
gemini_external_risk_assessment.py
ml_predict.py
